/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 1rem 0;
    height: 70px;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    float: left;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    float: right;
    margin-top: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #e67e22;
}

/* intro section */
.intro {
    position: relative;
    background: url('img/bg1.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 5rem 0;
    text-align: center;
    height: 700px;
    overflow: hidden;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37); 
    z-index: 1; 
}
.intro .container {
    position: relative;
    z-index: 2; 
}

.intro h2 {
    font-size: 3rem;
    margin-top: 1.5rem;
    
}

.intro p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #e67e22;
}

.btn {
    position: relative;
    top: 100px;
    padding: 0.8rem 2rem;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2rem;
}

.btn:hover {
    background-color: #d35400;
}

/* Features Section */
.features {
    background-color: #fff;
    padding: 5rem 0;
}

.features h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.feature img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.feature p {
    font-size: 1rem;
    text-align: center;
}

/* About Section */

.about {
    padding: 5rem 0;
    background-color: #f4f4f4;
}

.about h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.about p {
    font-size: 1.1rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.about a {
    color: #e67e22;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.about ul {
    list-style: none;
    text-align: center;
    margin-top: 2rem;
}

.about ul li {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Footer */
.footer {
    background-color: #222;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}
